.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-carrito {
  height: 23px;

}

.color{
  color: aliceblue;
  size: 20px;
}

#card{
  text-align: center;
  margin: 10px;
}

#cart{
  text-align: center;
  margin: 10px;
  
}

.cart{
  text-align: center;
  margin: 10px;
  
}

#card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  text-align: center;

}

#card-img{
padding: 3px;
}

.spinner{
padding-top: 70px;
background-color: white;

}

.counter__output{
  padding: 10px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
 
}

.App-cart{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  

 
}


.btn {text-decoration: none !important;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}