.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-carrito {
  height: 23px;

}

.color {
  color: aliceblue;
  size: 20px;
}

#card {
  text-align: center;
  margin: 10px;
  text-decoration: none;
}

#cart {
  text-align: center;
  margin: 10px;

}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  height: 430px;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 90px;


}

.alert-success {
  margin-top: 55px;
}

.cart {
  text-align: center;
  margin: 10px;

}

#card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  text-align: center;


}

#card-img {
  padding: 3px;
  width: 70%;
}

.spinner {
  padding-top: 70px;
  background-color: white;

}

#CartWidjet {
  display: flex;
  align-items: center;

}

#cartimage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.counter__output {
  padding: 10px;

}

.form-control {
  background-color: #ebebeb !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;

}

.App-cart {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;


}


.btn {
  text-decoration: none !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 850px)
{
#card2 {
  display: flex;
  flex-direction: column;
  width: 25rem !important;
  
}

#cart {
  width: 25rem !important;
}
#cartimage {
  
  flex-direction: column;
}
}


@media (max-width: 430px)
{
#card2 {
  display: flex;
  flex-direction: column;
  width: 15rem !important;
  
}

#cart {
  width: 15rem !important;
}
}